@media screen and (max-width:821px){
    .cart{
        grid-template-columns: 1fr;
        // padding-top: 1%;
    
        
    
    
    > aside{
        padding: 2rem;
        border-radius: 0%;
        margin-top: 0%;
    
    
        > h2{   
            font: 100 1.8rem 'Roboto';
            letter-spacing: 2px;
            &:last-of-type{
                font-weight: 600;
            }
        }
    }
    
    }
    
}